<div class="container">
  <div class="login-form">

  <h2 class="text-center login-header">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email,
                        placeholder: 'Email',
                        class: 'form-control login-email' %><br />

      <%= f.password_field :password,
                            placeholder: 'Password',
                            class: 'form-control login-password' %><br />

      <%= f.submit "Log in", class: 'login-button' %><br />
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>
