<%= form_for @room do |f| %>
  <%= render 'shared/errors', object: @room %>

    <div class="field">
      <%= f.text_field :title, placeholder: 'Title of Room', class: 'form-control room-form' %><br />
    </div>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
      <%= f.text_field :remote_image_url %>
      <small>Enter URL to an image</small>
    </div>
    <%= submit_tag "Add Chore", type: 'button', id: 'addChore',
            onclick: 'addChoreField()' %>
        <div id="choreHeader" style="display:none">

          <ul id="myList">
          </ul>
        <div class="actions">
        <%= f.submit 'Create Room with Chores' %>
      </div>
    <% end %>
