<%= form_for @room do |f| %>
  <%= render 'shared/errors', object: @room %>

    <div class="field">
      <%= f.text_field :title, placeholder: 'Title of Room', class: 'form-control room-form' %><br />
    </div>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
      <%= f.text_field :remote_image_url %>
      <small>Enter URL to an image</small>
    </div>
      <div class="chores">
        <%= f.fields_for :chores do |chore| %>
          <%= render 'chore_fields', f: chore %>
        <% end %>
      </div>

        <div class="actions">
        <%= f.submit 'Create Room with Chores' %>
        <%= link_to_add_association 'Add Chore', f, :chores, class: 'btn btn-primary', data: {
          association_insertion_node: '.chores', association_insertion_method: :append } %>
      </div>
    <% end %>
