<%= form_for @room do |f| %>
  <%= render 'shared/errors', object: @room %>

    <div class="field">
      <%= f.text_field :title, placeholder: 'Title of Room', class: 'form-control room-form' %><br />
    </div>
    <div class="field">
      <%= f.label :image, class: 'room-label' %>
      <%= f.file_field :image, class: 'form-control' %><br />
      <%= f.hidden_field :image_cache %>
      <%= f.text_field :remote_image_url, class: 'form-control image-text' %>
      <small class="room-text">Enter URL to an image</small>
    </div>

      <div class="chores">
        <%= f.fields_for :chores do |chore| %>
        <%= render 'chore_fields', f: chore %>
        <%= link_to_add_association 'Add Chore', f, :chores, class: 'add-button form-control', data: {
          association_insertion_node: '.chores', association_insertion_method: :append } %><br />
        <% end %>


          <%= f.submit 'Create Room with Chores', class: 'room-button form-control' %><br />
        </div>
    <% end %>
