
<section class="container">
    <header>
      <h2><%= @room.title %></h2>
    </header>
    <%= image_tag(@room.image.url, alt: 'Image') if @room.image? %>

    <article>

      <h4>List of Chores</h4>
        <ul>
          <li>dust surfaces</li>
        </ul>
    </article>

    <footer>
    </footer>
    <p class="links"><%= link_to 'Back', rooms_path %> | <%= link_to 'Edit', edit_room_path(@room) %> | <%= link_to 'Delete', room_path(@room), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </section>
