
<section class="container">
    <header>
      <h2><%= @room.title %></h2>
    </header>
    <%= image_tag(@room.image.url, alt: 'Image') if @room.image? %>

    <article>
      <% @room.chores.each do |chore| %>
        <ul>
          <li><%= chore.name %></li>
        </ul>
        <% end %>
    </article>

    <footer>
    </footer>
    <p class="links"><%= link_to 'Back', rooms_path %> | <%= link_to 'Edit', edit_room_path(@room) %> | <%= link_to 'Delete', room_path(@room), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </section>
