<header class="header" role="banner">
  <div class="rel">
  <div class="big-wrap cf">
    <%= link_to 'Clean-N-Tidy', root_path, class: 'logo' %>
    <div class="top">
      <div class="quick-links">
      </div>
      <nav role="navigation" itemscope>
        <ul id="menu-main-menu" class="nav top-nav cf" style="display:block">
        <% if user_signed_in? %>
        <li id="menu-item-311" class="menu-item menu-item-type-post_type menu-item-object-page">
          <%= current_user.email  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Rooms', rooms_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
        </li>
      <% end %>
      </ul>
  </div>
</header>
